/* put bg image to the banner */
.banner {
    background: url(/images/flower-banner.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5);
}

/* put opacity on the div but not affecting the inside children */
.banner .pink-pad {
    background-color: #d29c9ccb !important;
}

.about-me {
    background: url(/images/flower-about.jpg) no-repeat center;
    background-size: cover;
    filter: opacity(90%);
}

/* No background in mobile mode */
@media screen and (max-width: 576px) {
    .banner, .about-me {
        background-image: none;
    }
}

/* Set height for the projects card in desktop mode */
@media screen and (min-width: 992px) {
    .prj {
        height: 670px;
    }
}